body{
    max-width: 1000px;
    margin:auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:24px;
    line-height:1.5em;
}

ul > ul {margin:20px;}

ul {list-style-type: none;
border:solid 1px #ccc;
background-color: rgba(100, 100, 100, .07);
padding:20px;}

